body{
    background: #f0f2f5 ;
}
.main{
    margin-top: 100px;
    text-align: center;
}
.facebook{
    display: block;
    font-size: 70px;
    margin: auto;
    color: #2074f4;
    margin-bottom: 20px;
}
.fb{
    border: 1px  #dddfe2;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 250px;
    background: #fff;
}
.log{
    font-size: 19px;
    font-weight: lighter;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    margin-top: 10px;
    width: 300px;
    border: 1px solid #1c1e21;
    background: #fff;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px 8px 5px 15px;
    font-weight: initial;
}
.password{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    margin-top: 10px;
    width: 300px;
    border: 1px solid #1c1e21;
    background: #fff;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 8px 5px 15px;
}
.button{
    display: block;
    width: 325PX;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 35px;
    background: blue;
    border: 1px solid #1c1e21;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    font-family:  Helvetica, Arial, sans-serif;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}
.ad{
    color: blue;
    margin-top: 20px;
    margin-right: 10px;
}
.a{
    margin-right: 5px;
}
i{
    font-size: 30px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-size: 3em;
}
