body {
    background-color: #f1faee;
}
.container {
    margin-top: 70px;
    width: 100%;
}
.heading,
.h2 {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: #6b8e23;
    background-color: #fff8dc;
    border: 2px solid #6b8e23;
    border-radius: 20px;
}
h1 {
    margin-top: 30px;
}

.task_input {
    width: 73%;
    height: 15px;
    padding: 10px;
    border: 2px solid #6b8e23;
}

.add_btn {
    height: 39px;
    background: #fff8dc;
    color: black;
    border-radius: 5px;
    padding: 5px 20px;
}
table {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid #6b8e23;
    border-radius: 30px;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
td.task {
    text-align: center;
    max-width: 330px;
}
th {
    font-size: 19px;
    color: #6b8e23;
}
th,
td {
    border: none;
    height: 30px;
    padding: 2px;
    text-align: center;
}
.back {
    margin-left: 720px !important;
    width: 70%;
    margin: 30px auto;
    text-align: center;
    color: #6b8e23;
    background-color: #fff8dc;
    border: 2px solid #6b8e23;
    border-radius: 10px;
    padding: 10px;
}

.back:hover {
color: #ff7a59;
background-color: #fff8dc;
border: 3px solid black;
}
.edit_btn{
        text-decoration: none;
        border-bottom: 1px solid black;
        color: black;
        background-color: greenyellow;
        border-radius: 20px;
        border: none;
        padding: 5px 10px;
}
.edit_btn:hover {
color: #ff7a59;
background: #fff;
}
.id{
    border-radius: 10px;
    border: 1px solid #6b8e23;
    text-align: center;
}
.it{
    border-radius: 10px;
    border: 1px solid #6b8e23;
    text-align: center;
}
.tt{
    border-radius: 10px;
    border: 1px solid #6b8e23;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}